.card {
  min-height: 200px;
  background-color: midnightblue;
  color: white;
}

#currentCity {
  outline: 2px rgb(107, 105, 105) solid;
  background-color: midnightblue;
  min-height: 240px;
  color: white;
}
